JTRenderer/JTRenderer.sln
JTRenderer/JTRenderer.vcxproj
JTRenderer/JTRenderer.vcxproj.filters
JTRenderer/JTRenderer.vcxproj.user
JTRenderer/.vs/JTRenderer/v16/.suo
JTRenderer/.vs/JTRenderer/v16/Browse.VC.db
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/128a52d314c17cb2/SHADER.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/1e7aad01c438a0c5/BUFFER.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/38736f4276069e28/BUFFER.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/3953fa18b9700e83/MATHLIB.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/3ffdc50ad3011716/TEXTURE.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/4a96ec04feb26c01/STB_IMAGE.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/4dc782b1295f2005/CAMERA.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/4e4cdff644524ea2/TRIANGLE.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/64781cfc11e3244c/BUFFER.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/6a1f9d69b348908d/MATHLIB.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/76f0447a9ca75bee/TREANGLE.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/93a783dc528621fa/RASTERIZER.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/a0517a46985355b3/TREANGLE.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/b80b82445873505e/MATHLIB.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/bf7a3ed812427ff3/TEXTURE.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/c20b1982404ed647/RASTERIZER.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/d492d348808c138c/CAMERA.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/f3798b2e0f2e82bf/MAIN.ipch
JTRenderer/.vs/JTRenderer/v16/ipch/AutoPCH/fcabe346a7f2774e/MAIN.ipch
JTRenderer/Debug/Buffer.obj
JTRenderer/Debug/buffer.obj.enc
JTRenderer/Debug/JTRenderer.exe
JTRenderer/Debug/JTRenderer.exe.recipe
JTRenderer/Debug/JTRenderer.ilk
JTRenderer/Debug/JTRenderer.log
JTRenderer/Debug/JTRenderer.pdb
JTRenderer/Debug/JTRenderer.vcxproj.FileListAbsolute.txt
JTRenderer/Debug/main.obj
JTRenderer/Debug/MathLib.obj
JTRenderer/Debug/Treangle.obj
JTRenderer/Debug/vc142.idb
JTRenderer/Debug/vc142.pdb
JTRenderer/Debug/vcpkg.applocal.log
JTRenderer/Debug/JTRenderer.tlog/CL.command.1.tlog
JTRenderer/Debug/JTRenderer.tlog/CL.read.1.tlog
JTRenderer/Debug/JTRenderer.tlog/CL.write.1.tlog
JTRenderer/Debug/JTRenderer.tlog/JTRenderer.lastbuildstate
JTRenderer/Debug/JTRenderer.tlog/link.command.1.tlog
JTRenderer/Debug/JTRenderer.tlog/link.read.1.tlog
JTRenderer/Debug/JTRenderer.tlog/link.write.1.tlog
JTRenderer/Image/spot_texture.jpg
JTRenderer/Image/test1.jpg
JTRenderer/Image/test2.jpg
JTRenderer/Image/test3.jpg
JTRenderer/stb-master/.travis.yml
JTRenderer/stb-master/LICENSE
JTRenderer/stb-master/README.md
JTRenderer/stb-master/stb.h
JTRenderer/stb-master/stb_c_lexer.h
JTRenderer/stb-master/stb_connected_components.h
JTRenderer/stb-master/stb_divide.h
JTRenderer/stb-master/stb_ds.h
JTRenderer/stb-master/stb_dxt.h
JTRenderer/stb-master/stb_easy_font.h
JTRenderer/stb-master/stb_herringbone_wang_tile.h
JTRenderer/stb-master/stb_hexwave.h
JTRenderer/stb-master/stb_image_resize.h
JTRenderer/stb-master/stb_image_write.h
JTRenderer/stb-master/stb_include.h
JTRenderer/stb-master/stb_leakcheck.h
JTRenderer/stb-master/stb_perlin.h
JTRenderer/stb-master/stb_rect_pack.h
JTRenderer/stb-master/stb_sprintf.h
JTRenderer/stb-master/stb_textedit.h
JTRenderer/stb-master/stb_tilemap_editor.h
JTRenderer/stb-master/stb_truetype.h
JTRenderer/stb-master/stb_vorbis.c
JTRenderer/stb-master/stb_voxel_render.h
JTRenderer/stb-master/.github/CONTRIBUTING.md
JTRenderer/stb-master/.github/PULL_REQUEST_TEMPLATE.md
JTRenderer/stb-master/data/atari_8bit_font_revised.png
JTRenderer/stb-master/data/easy_font_raw.png
JTRenderer/stb-master/data/map_01.png
JTRenderer/stb-master/data/map_02.png
JTRenderer/stb-master/data/map_03.png
JTRenderer/stb-master/data/herringbone/license.txt
JTRenderer/stb-master/data/herringbone/template_caves_limit_connectivity.png
JTRenderer/stb-master/data/herringbone/template_caves_tiny_corridors.png
JTRenderer/stb-master/data/herringbone/template_corner_caves.png
JTRenderer/stb-master/data/herringbone/template_horizontal_corridors_v1.png
JTRenderer/stb-master/data/herringbone/template_horizontal_corridors_v2.png
JTRenderer/stb-master/data/herringbone/template_horizontal_corridors_v3.png
JTRenderer/stb-master/data/herringbone/template_limit_connectivity_fat.png
JTRenderer/stb-master/data/herringbone/template_limited_connectivity.png
JTRenderer/stb-master/data/herringbone/template_maze_2_wide.png
JTRenderer/stb-master/data/herringbone/template_maze_plus_2_wide.png
JTRenderer/stb-master/data/herringbone/template_open_areas.png
JTRenderer/stb-master/data/herringbone/template_ref2_corner_caves.png
JTRenderer/stb-master/data/herringbone/template_rooms_and_corridors.png
JTRenderer/stb-master/data/herringbone/template_rooms_and_corridors_2_wide_diagonal_bias.png
JTRenderer/stb-master/data/herringbone/template_rooms_limit_connectivity.png
JTRenderer/stb-master/data/herringbone/template_round_rooms_diagonal_corridors.png
JTRenderer/stb-master/data/herringbone/template_sean_dungeon.png
JTRenderer/stb-master/data/herringbone/template_simple_caves_2_wide.png
JTRenderer/stb-master/data/herringbone/template_square_rooms_with_random_rects.png
JTRenderer/stb-master/deprecated/rrsprintf.h
JTRenderer/stb-master/deprecated/stb_image.c
JTRenderer/stb-master/deprecated/stretch_test.c
JTRenderer/stb-master/deprecated/stretchy_buffer.h
JTRenderer/stb-master/deprecated/stretchy_buffer.txt
JTRenderer/stb-master/docs/other_libs.md
JTRenderer/stb-master/docs/stb_howto.txt
JTRenderer/stb-master/docs/stb_voxel_render_interview.md
JTRenderer/stb-master/docs/why_public_domain.md
JTRenderer/stb-master/tests/c_lexer_test.c
JTRenderer/stb-master/tests/c_lexer_test.dsp
JTRenderer/stb-master/tests/fuzz_main.c
JTRenderer/stb-master/tests/grid_reachability.c
JTRenderer/stb-master/tests/herringbone.dsp
JTRenderer/stb-master/tests/herringbone_generator.c
JTRenderer/stb-master/tests/herringbone_map.c
JTRenderer/stb-master/tests/herringbone_map.dsp
JTRenderer/stb-master/tests/image_test.c
JTRenderer/stb-master/tests/image_test.dsp
JTRenderer/stb-master/tests/image_write_test.c
JTRenderer/stb-master/tests/Makefile
JTRenderer/stb-master/tests/ossfuzz.sh
JTRenderer/stb-master/tests/resample_test.cpp
JTRenderer/stb-master/tests/resample_test_c.c
JTRenderer/stb-master/tests/resize.dsp
JTRenderer/stb-master/tests/stb.c
JTRenderer/stb-master/tests/stb.dsp
JTRenderer/stb-master/tests/stb.dsw
JTRenderer/stb-master/tests/stb_c_lexer_fuzzer.cpp
JTRenderer/stb-master/tests/stb_cpp.cpp
JTRenderer/stb-master/tests/stb_cpp.dsp
JTRenderer/stb-master/tests/stb_png.dict
JTRenderer/stb-master/tests/stb_static.c
JTRenderer/stb-master/tests/stbi_read_fuzzer.c
JTRenderer/stb-master/tests/stblib.dsp
JTRenderer/stb-master/tests/stblib_test.c
JTRenderer/stb-master/tests/stblib_test_companion.c
JTRenderer/stb-master/tests/stretch_test.dsp
JTRenderer/stb-master/tests/test.sbm
JTRenderer/stb-master/tests/test_c_compilation.c
JTRenderer/stb-master/tests/test_c_lexer.c
JTRenderer/stb-master/tests/test_cpp_compilation.cpp
JTRenderer/stb-master/tests/test_ds.c
JTRenderer/stb-master/tests/test_ds_cpp.cpp
JTRenderer/stb-master/tests/test_dxt.c
JTRenderer/stb-master/tests/test_easyfont.c
JTRenderer/stb-master/tests/test_image.c
JTRenderer/stb-master/tests/test_image_write.c
JTRenderer/stb-master/tests/test_perlin.c
JTRenderer/stb-master/tests/test_siphash.c
JTRenderer/stb-master/tests/test_sprintf.c
JTRenderer/stb-master/tests/test_truetype.c
JTRenderer/stb-master/tests/test_vorbis.c
JTRenderer/stb-master/tests/test_voxel.c
JTRenderer/stb-master/tests/textedit_sample.c
JTRenderer/stb-master/tests/tilemap_editor_integration_example.c
JTRenderer/stb-master/tests/caveview/cave_main.c
JTRenderer/stb-master/tests/caveview/cave_mesher.c
JTRenderer/stb-master/tests/caveview/cave_parse.c
JTRenderer/stb-master/tests/caveview/cave_parse.h
JTRenderer/stb-master/tests/caveview/cave_render.c
JTRenderer/stb-master/tests/caveview/caveview.dsp
JTRenderer/stb-master/tests/caveview/caveview.dsw
JTRenderer/stb-master/tests/caveview/caveview.h
JTRenderer/stb-master/tests/caveview/glext.h
JTRenderer/stb-master/tests/caveview/glext_list.h
JTRenderer/stb-master/tests/caveview/main.c
JTRenderer/stb-master/tests/caveview/README.md
JTRenderer/stb-master/tests/caveview/stb_gl.h
JTRenderer/stb-master/tests/caveview/stb_glprog.h
JTRenderer/stb-master/tests/caveview/win32/SDL_windows_main.c
JTRenderer/stb-master/tests/oversample/main.c
JTRenderer/stb-master/tests/oversample/oversample.dsp
JTRenderer/stb-master/tests/oversample/oversample.dsw
JTRenderer/stb-master/tests/oversample/oversample.exe
JTRenderer/stb-master/tests/oversample/README.md
JTRenderer/stb-master/tests/oversample/stb_wingraph.h
JTRenderer/stb-master/tests/pg_test/pg_test.c
JTRenderer/stb-master/tests/pngsuite/PngSuite.LICENSE
JTRenderer/stb-master/tests/pngsuite/16bit/basi0g16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basi2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basi4a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basi6a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basn0g16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basn2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basn4a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/basn6a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/bgai4a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/bgan6a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/bggn4a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/bgyn6a16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi1n0g16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi1n2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi2n0g16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi2n2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi4n0g16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi4n2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi9n0g16.png
JTRenderer/stb-master/tests/pngsuite/16bit/oi9n2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/tbbn2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/tbgn2c16.png
JTRenderer/stb-master/tests/pngsuite/16bit/tbwn0g16.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xc1n0g08.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xc9n2c08.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xcrn0g04.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xcsn0g01.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xd0n2c08.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xd3n2c08.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xd9n2c08.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xdtn0g01.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xhdn0g08.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xlfn0g04.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xs1n0g01.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xs2n0g01.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xs4n0g01.png
JTRenderer/stb-master/tests/pngsuite/corrupt/xs7n0g01.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_basi0g01.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_basi0g02.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_basi3p02.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_bgwn6a08.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_bgyn6a16.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_tbyn3p08.png
JTRenderer/stb-master/tests/pngsuite/iphone/iphone_z06n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/basi0g01.png
JTRenderer/stb-master/tests/pngsuite/primary/basi0g02.png
JTRenderer/stb-master/tests/pngsuite/primary/basi0g04.png
JTRenderer/stb-master/tests/pngsuite/primary/basi0g08.png
JTRenderer/stb-master/tests/pngsuite/primary/basi2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/basi3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/basi3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/basi3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/basi3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/basi4a08.png
JTRenderer/stb-master/tests/pngsuite/primary/basi6a08.png
JTRenderer/stb-master/tests/pngsuite/primary/basn0g01.png
JTRenderer/stb-master/tests/pngsuite/primary/basn0g02.png
JTRenderer/stb-master/tests/pngsuite/primary/basn0g04.png
JTRenderer/stb-master/tests/pngsuite/primary/basn0g08.png
JTRenderer/stb-master/tests/pngsuite/primary/basn2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/basn3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/basn3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/basn3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/basn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/basn4a08.png
JTRenderer/stb-master/tests/pngsuite/primary/basn6a08.png
JTRenderer/stb-master/tests/pngsuite/primary/bgai4a08.png
JTRenderer/stb-master/tests/pngsuite/primary/bgan6a08.png
JTRenderer/stb-master/tests/pngsuite/primary/bgbn4a08.png
JTRenderer/stb-master/tests/pngsuite/primary/bgwn6a08.png
JTRenderer/stb-master/tests/pngsuite/primary/s01i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s01n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s02i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s02n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s03i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s03n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s04i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s04n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary/s05i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s05n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s06i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s06n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s07i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s07n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s08i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s08n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s09i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s09n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/s32i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s32n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s33i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s33n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s34i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s34n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s35i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s35n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s36i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s36n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s37i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s37n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s38i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s38n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s39i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s39n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s40i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/s40n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary/tbbn0g04.png
JTRenderer/stb-master/tests/pngsuite/primary/tbbn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/tbgn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/tbrn2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/tbwn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/tbyn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/tm3n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary/tp0n0g08.png
JTRenderer/stb-master/tests/pngsuite/primary/tp0n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/tp0n3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/tp1n3p08.png
JTRenderer/stb-master/tests/pngsuite/primary/z00n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/z03n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/z06n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary/z09n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi0g01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi0g02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi0g04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi0g08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi4a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basi6a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn0g01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn0g02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn0g04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn0g08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn4a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/basn6a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/bgai4a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/bgan6a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/bgbn4a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/bgwn6a08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s01i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s01n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s02i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s02n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s03i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s03n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s04i3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s04n3p01.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s05i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s05n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s06i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s06n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s07i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s07n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s08i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s08n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s09i3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s09n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s32i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s32n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s33i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s33n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s34i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s34n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s35i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s35n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s36i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s36n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s37i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s37n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s38i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s38n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s39i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s39n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s40i3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/s40n3p04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tbbn0g04.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tbbn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tbgn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tbrn2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tbwn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tbyn3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tm3n3p02.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tp0n0g08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tp0n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tp0n3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/tp1n3p08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/z00n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/z03n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/z06n2c08.png
JTRenderer/stb-master/tests/pngsuite/primary_check/z09n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/ccwn2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/ccwn3p08.png
JTRenderer/stb-master/tests/pngsuite/unused/cdfn2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/cdhn2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/cdsn2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/cdun2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/ch1n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/ch2n3p08.png
JTRenderer/stb-master/tests/pngsuite/unused/cm0n0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/cm7n0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/cm9n0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/cs3n2c16.png
JTRenderer/stb-master/tests/pngsuite/unused/cs3n3p08.png
JTRenderer/stb-master/tests/pngsuite/unused/cs5n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/cs5n3p08.png
JTRenderer/stb-master/tests/pngsuite/unused/cs8n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/cs8n3p08.png
JTRenderer/stb-master/tests/pngsuite/unused/ct0n0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/ct1n0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/cten0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/ctfn0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/ctgn0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/cthn0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/ctjn0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/ctzn0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/f00n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/f00n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/f01n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/f01n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/f02n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/f02n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/f03n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/f03n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/f04n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/f04n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/f99n0g04.png
JTRenderer/stb-master/tests/pngsuite/unused/g03n0g16.png
JTRenderer/stb-master/tests/pngsuite/unused/g03n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/g03n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/g04n0g16.png
JTRenderer/stb-master/tests/pngsuite/unused/g04n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/g04n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/g05n0g16.png
JTRenderer/stb-master/tests/pngsuite/unused/g05n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/g05n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/g07n0g16.png
JTRenderer/stb-master/tests/pngsuite/unused/g07n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/g07n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/g10n0g16.png
JTRenderer/stb-master/tests/pngsuite/unused/g10n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/g10n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/g25n0g16.png
JTRenderer/stb-master/tests/pngsuite/unused/g25n2c08.png
JTRenderer/stb-master/tests/pngsuite/unused/g25n3p04.png
JTRenderer/stb-master/tests/pngsuite/unused/pp0n2c16.png
JTRenderer/stb-master/tests/pngsuite/unused/pp0n6a08.png
JTRenderer/stb-master/tests/pngsuite/unused/ps1n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/ps1n2c16.png
JTRenderer/stb-master/tests/pngsuite/unused/ps2n0g08.png
JTRenderer/stb-master/tests/pngsuite/unused/ps2n2c16.png
JTRenderer/stb-master/tests/prerelease/stb_lib.h
JTRenderer/stb-master/tests/sdf/sdf_test.c
JTRenderer/stb-master/tests/sdf/sdf_test_arial_16.png
JTRenderer/stb-master/tests/sdf/sdf_test_times_16.png
JTRenderer/stb-master/tests/sdf/sdf_test_times_50.png
JTRenderer/stb-master/tests/vorbseek/vorbseek.c
JTRenderer/stb-master/tests/vorbseek/vorbseek.dsp
JTRenderer/stb-master/tools/build_matrix.c
JTRenderer/stb-master/tools/easy_font_maker.c
JTRenderer/stb-master/tools/make_readme.c
JTRenderer/stb-master/tools/make_readme.dsp
JTRenderer/stb-master/tools/mr.bat
JTRenderer/stb-master/tools/README.footer.md
JTRenderer/stb-master/tools/README.header.md
JTRenderer/stb-master/tools/README.list
JTRenderer/stb-master/tools/trailing_whitespace.c
JTRenderer/stb-master/tools/unicode.c
JTRenderer/stb-master/tools/unicode/unicode.dsp
JTRenderer/x64/Debug/Buffer.obj
JTRenderer/x64/Debug/camera.obj
JTRenderer/x64/Debug/JTRenderer.exe
JTRenderer/x64/Debug/JTRenderer.exe.recipe
JTRenderer/x64/Debug/JTRenderer.ilk
JTRenderer/x64/Debug/JTRenderer.log
JTRenderer/x64/Debug/JTRenderer.pdb
JTRenderer/x64/Debug/JTRenderer.vcxproj.FileListAbsolute.txt
JTRenderer/x64/Debug/main.obj
JTRenderer/x64/Debug/MathLib.obj
JTRenderer/x64/Debug/rasterizer.obj
JTRenderer/x64/Debug/stb_image.obj
JTRenderer/x64/Debug/texture.obj
JTRenderer/x64/Debug/Treangle.obj
JTRenderer/x64/Debug/Triangle.obj
JTRenderer/x64/Debug/vc142.idb
JTRenderer/x64/Debug/vc142.pdb
JTRenderer/x64/Debug/vcpkg.applocal.log
JTRenderer/x64/Debug/JTRenderer.tlog/CL.command.1.tlog
JTRenderer/x64/Debug/JTRenderer.tlog/CL.read.1.tlog
JTRenderer/x64/Debug/JTRenderer.tlog/CL.write.1.tlog
JTRenderer/x64/Debug/JTRenderer.tlog/JTRenderer.lastbuildstate
JTRenderer/x64/Debug/JTRenderer.tlog/link.command.1.tlog
JTRenderer/x64/Debug/JTRenderer.tlog/link.read.1.tlog
JTRenderer/x64/Debug/JTRenderer.tlog/link.write.1.tlog
